In [4]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv("africa_food_prices.csv")

In [7]:
df.head() #displaying the first few rows of the data

,Unnamed: 0,country_id,country,state_id,state,market_id,market,produce_id,produce,currency_id,currency,pt_id,market_type,um_unit_id,quantity,month,year,price,mp_commoditysource
0,15427,4.0,Algeria,344,Alger,1794,Algiers,52,Rice - Retail,0.0,DZD,15,Retail,5,KG,4,2015,90.0,NaN
1,15428,4.0,Algeria,344,Alger,1794,Algiers,52,Rice - Retail,0.0,DZD,15,Retail,5,KG,5,2015,96.0,NaN
2,15429,4.0,Algeria,344,Alger,1794,Algiers,52,Rice - Retail,0.0,DZD,15,Retail,5,KG,6,2015,96.0,NaN
3,15430,4.0,Algeria,344,Alger,1794,Algiers,52,Rice - Retail,0.0,DZD,15,Retail,5,KG,7,2015,83.0,NaN
4,15431,4.0,Algeria,344,Alger,1794,Algiers,52,Rice - Retail,0.0,DZD,15,Retail,5,KG,8,2015,80.0,NaN

In [8]:
df.shape[0]

956779

In [9]:
df.shape #checking the shape of the file (its rows[left] and columns [right])

(956779, 19)

In [10]:
df.columns # checking the column names of the file

Index(['Unnamed: 0', 'country_id', 'country', 'state_id', 'state', 'market_id',
       'market', 'produce_id', 'produce', 'currency_id', 'currency', 'pt_id',
       'market_type', 'um_unit_id', 'quantity', 'month', 'year', 'price',
       'mp_commoditysource'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956779 entries, 0 to 956778
Data columns (total 19 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          956779 non-null  int64
 1   country_id          956779 non-null  float64
 2   country             956779 non-null  object
 3   state_id            956779 non-null  int64
 4   state               830101 non-null  object
 5   market_id           956779 non-null  int64
 6   market              956779 non-null  object
 7   produce_id          956779 non-null  int64
 8   produce             956779 non-null  object
 9   currency_id         956779 non-null  float64
 10  currency            956779 non-null  object
 11  pt_id               956779 non-null  int64
 12  market_type         956779 non-null  object
 13  um_unit_id          956779 non-null  int64
 14  quantity            956779 non-null  object
 15  month               956779 non-null  int64
 16  year                956779 non-null  int64
 17  price               956779 non-null  float64
 18  mp_commoditysource  0 non-null       float64
dtypes: float64(4), int64(8), object(7)
memory usage: 138.7+ MB

In [12]:
df.isnull().sum() #Checking for any missig values

Unnamed: 0                 0
country_id                 0
country                    0
state_id                   0
state                 126678
market_id                  0
market                     0
produce_id                 0
produce                    0
currency_id                0
currency                   0
pt_id                      0
market_type                0
um_unit_id                 0
quantity                   0
month                      0
year                       0
price                      0
mp_commoditysource    956779
dtype: int64

# Handling missing values

In [13]:
df.dropna() #drops the rows with the missing values

Empty DataFrame
Columns: [Unnamed: 0, country_id, country, state_id, state, market_id, market, produce_id, produce, currency_id, currency, pt_id, market_type, um_unit_id, quantity, month, year, price, mp_commoditysource]
Index: []

In [14]:
df['state'] = df['state'].fillna("null")
#replacing the values null values in with "null"

In [15]:
df.drop_duplicates(inplace=True) #Removing duplicates

# Removing unwanted columns

In [16]:
df = df.drop('mp_commoditysource', axis=1) #removes the 'mp_commoditysource' column

In [17]:
df['country'].unique() #Gets only one instance of every country available in the data.

array(['Algeria', 'Angola', 'Benin', 'Burundi', 'Cameroon', 'Cape Verde',
       'Central African Republic', 'Chad', 'Congo', 'Djibouti', 'Egypt',
       'Eritrea', 'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea',
       'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Libya',
       'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mozambique',
       'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Senegal', 'Sierra Leone',
       'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Swaziland',
       'Togo', 'Uganda', 'Zambia', 'Zimbabwe'], dtype=object)

In [18]:
df['currency_id'].unique() #After observing that the currency_id only has 0.0 in all its rows
# I have decided to remove it

array([0.])

In [19]:
df = df.drop('currency_id', axis=1) #removing the currency_id

In [20]:
#looking at the Unnamed column, I fail to see its significance so, I'll go ahead and drop it
df = df.drop('Unnamed: 0', axis=1)

In [21]:
columns_list = df.columns.tolist()
print(columns_list)

['country_id', 'country', 'state_id', 'state', 'market_id', 'market', 'produce_id', 'produce', 'currency', 'pt_id', 'market_type', 'um_unit_id', 'quantity', 'month', 'year', 'price']

# Changing data types

In [22]:
# The month column is supposed to hold a text and not a number, so we would have to change its data type before changing its values

In [23]:
df['month'] = df['month'].astype(str)

In [24]:
month_map = {
    '1': 'Jan', '2': 'Feb', '3': 'Mar', '4': 'April',
    '5': 'May', '6': 'June', '7': 'July', '8': 'Aug',
    '9': 'Sept', '10': 'Oct', '11': 'Nov', '12': 'Dec'
}

df['month'] = df['month'].map(month_map)

In [25]:
# I am satisfied with cleaning this data. I would now load it and begin building my application

In [21]:
df.to_csv('cleaned_data.csv', index=False)

In [27]:
print(df['month'])

0         April
1           May
2          June
3          July
4           Aug
          ...
956774     June
956775     June
956776     June
956777     June
956778     June
Name: month, Length: 956779, dtype: object